body{
    margin-left: 0;
    margin-right: 0;
    margin-top:0 ;
}


.header{
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 0 20px;
    border-style: none none solid none;
    border-width: 4px;
    border-color: rgba(108, 224, 13, 0.534);
}


h1{
    color: rgba(108, 224, 13, 0.534);
}


h2{
    background-color: rgb(97, 96, 96);
    text-align: center;
    font-style: italic;
    margin: 0;
    padding: 20px;
}


nav a{
    color: white;
    padding: 10px;
}


.container{
    background-image: url("../css/img/dev.jfif");
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.container .text{
    flex-flow: column wrap;
    width: 15%;
    padding: 2%;
    float: right;
    vertical-align: middle;
    margin-right: 2%;
}


.container .text a{
    color: black;
    background-color: rgba(108, 224, 13, 0.534);
    text-transform: uppercase;
    padding: 10px;
}

.items{

    padding: 20px 20px;
    border-style: none solid none none;
    border-width: 1px;
    border-color: rgb(97, 96, 96);
}


.items a{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}


.items div{
    background-color: rgb(97, 96, 96);
    text-align: center;
    padding: 10px;
}


.button{
    text-align: center;
}